body {
  background-color: rgb(191, 240, 243);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  /* width: 58px;
  height: 34px; */
  padding: 12px 24px;
  border-style: none;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: rgb(170, 170, 170);
}
.btn-container {
  display: flex;
  gap: 12px;
}
