body {
  background-color: rgb(237, 237, 237);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  font-size: 18px;
  width: 220px;
  height: 220px;
  background-color: rgb(139, 0, 0);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

.circle-inside {
  width: 220px;
  height: 220px;
  border-radius: 100%;
}

.text {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(218, 218, 218);
  opacity: 0.3;
  will-change: transform;
}

.btn-container {
  display: flex;
  gap: 18px;
}

#pause {
  background-color: rebeccapurple;
}
#reverse {
  background-color: darkblue;
}
#restart {
  background-color: orange;
}
