body {
  background-color: rgb(237, 237, 237);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  font-size: 18px;
  width: 120px;
  height: 120px;
  padding: 24px 24px;
  background-color: rgb(139, 0, 0);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

.text {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.bg {
  position: absolute;
  background: rgb(255, 255, 255);
  opacity: 0.3;
  will-change: transform;
}

/* .btn-container {
  display: flex;
  gap: 18px;
} */
